#focus-light{
    text-align:center;
}

#brand{
    font-size: 5em;
    text-decoration: bold;
    margin-bottom: 2%;
    margin-top: 3%;
    border-bottom: solid;
    padding-bottom: 1%;

}

body{
    background-color: #fff8e3;
}