#task-list{
    border: solid;
    text-align: center;
    display:inline-block;
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
}

#task-input{
    width: 75%;
}

#title{
    margin-bottom: 5%;
}

#add-button{
    margin-top: 0;
}
