.description{
    font-size: 1em;
    margin-right: 1em;
}

.completed{
    text-decoration: line-through;
    color: lightgray;
}

.task-element{
    display: inline-block;
} 

.task{
    margin: auto;
    text-align: left;
}

.checkbox{
    float:right;
}


