#task-list{
    /* border: solid; */
    text-align: center;
    display:inline-block;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-style: ridge;
    background-color: white;
}

#task-input{
    width: 75%;
}

#title{
    margin-bottom: 5%;
}

#add-button{
    margin-top: 0;
}

#list{
    padding-right: 5%;
    padding-left: 5%;
}


