#timer{
    /* border: solid; */
    text-align: center;
    padding: 1em;
    background-color: #fff2cf;
    border-radius: 25px;

}

#face{
    border: solid;
    height: 12vh;
    background-color: white;
}

#time{
    margin-bottom: 0;
    font-size: 5vw;
}

#buttons{
    padding: 3%;
}

