#timer{
    border: solid;
    text-align: center;
    padding: 1em;
}

#face{
    border: solid;
    height: 12vh;
}

#time{
    margin-bottom: 0;
    font-size: 5vw;
}

#buttons{
    padding: 3%;
}

